{% extends "index.html" %}
{% block application %}
        <div>
            {% if post.club_logo%}
                <img src="{{ post.club_logo.url }}" alt="post.title">
            {% endif %}
            <h1><a href="/model/club_list/">{{ post.title }}</a></h1>
            <p><b>Адрес</b>: {{ post.addr }}</p>
            <p>Тел: {{ post.phone_number}}
            <p>Тренер: {{ post.coach_name}}
            <p>О клубе: {{ post.text}}
        </div>


        <div>
        	<h1> Likes: </h1>
        </div>
        <form action="#" method="post">
			{% csrf_token %}
			<input type="submit" class="btn" value="Мне нравится" name="mybtn">  {{ post.likes }}
		</form>


        <div>
        	<h1> Comments: </h1>
        </div>

        <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
               {{field.label}} {{field}}
            </div>
        {% endfor %}
        <input type="submit" value="отправить"/>
        </form>


        {% for comment in comments%}
        <div class="comment">
           <h1> <p>{{ comment.author }}</p> </h1>
            <b><p>{{ comment.title}}</p></b>
            <p>{{ comment.text }}</p>    
        </div>
        {% endfor %}




{% endblock %}
