{% extends "index.html" %}
{% block application %}


<div class="container_comment">
        <div class="club" >
            {% if post.club_logo%}
                <img src="{{ post.club_logo.url }}" alt="post.title">
            {% endif %}
            <h1><a href="/model/club_list/">{{ post.title }}</a></h1>
            <p><b>Адрес</b>: {{ post.addr }}</p>
            <p>Тел: {{ post.phone_number}}
            <p>Тренер: {{ post.coach_name}}
            <p>О клубе: {{ post.text}}
        </div>


        <div class="comment" >
        	<h1> Comments: </h1>
        

        <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
               {{field.label}} <br \>
               {{field}}
            </div>
        {% endfor %}
        <br \>
        <input type="submit" class="btn btn-primary" value="Send" />
        </form>


        {% for comment in comments%}
        <div class="comment">
           <h1> <p>{{ comment.author }}</p> </h1>
            <b><p>{{ comment.title}}</p></b>
            <p>{{ comment.text }}</p>    
        </div>
        {% endfor %}
        </div>
</div>



{% endblock %}