{% extends "index.html" %}

{% block application %}

        {% if registered %}
        System says: <strong>thank you for registering!</strong>
        <a href="http://127.0.0.1:8000/">Return to the homepage.</a><br />
        {% else %}


        <form id="user_form" method="post" action="/model/register/"
                enctype="multipart/form-data">{% csrf_token %}


            {{ user_form.as_p}}
            {{profile_form.as_p }}
            <input type="submit" class="btn btn-primary" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}
